<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>

<form action="submit" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">firstname</label>
            <input class="form-control" id="firstname" name="firstname" placeholder="firstname" type="text">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">middlename</label>
                <input class="form-control" id="middlename" name="middlename" placeholder="middlename" type="text">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">surname</label>
                    <input class="form-control" id="surname" name="surname" placeholder="surname" type="text">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">DATE_OF_BIRTH</label>
                        <input class="form-control" id="dob1" name="dob" placeholder="dd/mm/yyyy" type="text">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">username</label>
                            <input class="form-control" id="us1" name="username" placeholder="username" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input class="form-control" id="inputPassword4" placeholder="Password" type="text">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input class="form-control" id="inputEmail4" placeholder="Email" type="text">
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">mobilenumber</label>
                                    <input class="form-control" id="mobilenum" name="mobilenum" placeholder="mobilenum"
                                           type="text">
                                </div>


                            </div>


                            <div class="form-group">
                                <label for="inputAddress">Address 1</label>
                                <input class="form-control" id="inputAddress" placeholder="1234 Main St" type="text">
                            </div>

                            <div class="form-group">
                                <label for="inputAddress2">Address 2</label>
                                <input class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
                                       type="text">
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input class="form-control" id="inputCity" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <select class="form-control" id="inputState" name="state">
                                        <option>choose</option>
                                        <option>odisha</option>
                                        <option>telengana</option>
                                        <option>karnataka</option>
                                        <option>maharastra</option>
                                        <option>delhi</option>
                                    </select>
                                </div>


                                <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input class="form-control" id="inputZip" name="zip" type="text">
                                </div>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">upload your aadhar card</label>
                                    <input class="form-control-file" formenctype="multipart/form-data" id="exampleFormControlFile1"
                                           name="file" type="file">
                                </div>
                            </form>


                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" id="gridCheck" type="checkbox">
                                    <label class="form-check-label" for="gridCheck">
                                        Check me out
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Sign in</button>
</form>


</body>
</html>